<!DOCTYPE html>
<html>
  <head>
    <title>Store Sales Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <div class="error-message">
      {% if error_message %}
      <p>{{ error_message }}</p>
      {% endif %}
    </div>
    <h1>Store Sales Prediction</h1>

    <form action="{{url_for('predict')}}" method="post">
      <label for="store_number">Store Number:</label>
      <select id="store_number" name="store_number" required>
        {% for store_number in range(1, 46) %}
        <option value="{{ store_number }}">{{ store_number }}</option>
        {% endfor %}
      </select>

      <label for="store_department">Store Department:</label>
      <select id="store_department" name="store_department" required>
        {% for store_department in range(1, 82) %}
        <option value="{{ store_department }}">{{ store_department }}</option>
        {% endfor %}
      </select>

      <label for="store_type">Store Type:</label>
      <select id="store_type" name="store_type" required>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
      </select>

      <label for="total_markdown">Total MarkDown:</label>
      <input
        type="number"
        id="total_markdown"
        name="total_markdown"
        value="0"
        required
      />

      <label for="holiday_type">Holiday:</label>
      <select id="holiday_type" name="holiday_type">
        <option value="Super Bowl">Super Bowl</option>
        <option value="Labor Day">Labor Day</option>
        <option value="Thanksgiving">Thanksgiving</option>
        <option value="Christmas">Christmas</option>
        <option value="None" selected>None</option>
      </select>

      <button type="submit">Predict</button>
    </form>

    <table>
      <tr>
        <th>Date</th>
        <th>Store Number</th>
        <th>Store Department</th>
        <th>Store Type</th>
        <th>Total MarkDown</th>
        <th>Holiday</th>
        <th>Predicted Weekly Sales</th>
      </tr>
      {% for prediction in predictions %}
      <tr>
        <td>{{ prediction.date }}</td>
        <td>{{ prediction.store_number }}</td>
        <td>{{ prediction.store_department }}</td>
        <td>{{ prediction.store_type }}</td>
        <td>{{ prediction.total_markdown }}</td>
        <td>{{ prediction.holiday_type }}</td>
        <td>{{ prediction.predicted_sales }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
